<html>
    <head>
        <title>Image Change</title>
    </head>
    <body>
        <div>
            <h1><a href="">이미지 바꿔보기</a></h1>
            <br/><br/><br/><br/>
        </div>

        <div>
            <p>published: 05.02.2018, 11:00</p>
            <h2><a href="">My first post</a></h2>
            <p>과연 바뀔 것인가~?</p>
        </div>

        {% for post in posts%}
            <div>
                <p>published : {{post.published_date}} </p>
                <h1><a href = ""> {{post.title}}</a></h1>
                <p>{{post.text|linebreaksbr}} </p>
            </div>
        {% endfor %}
    </body>
</html>